body {
  background-color: rgb(87, 85, 85);
  color: antiquewhite;
}

h1 {
  color: rgb(248, 243, 247);
}
#heading1 {
  color: rgb(160, 135, 186);
}

#heading2 {
  color: aqua;
}

.red {
  color: tomato;
}

li[class="red"] {
  background-color: red;
  color: white;
}

div > span {
  background-color: lightgreen;
  color: green;
}
/* div span {
  background-color: lightgreen;
  color: green;
} */

.sibling-container {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

/* .sibling-container > * {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
} */

/* .sibling-container .s1 + .s2 {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
} */
.sibling-container .s1 + .s2 {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

input {
  border: 1px solid red;
  padding: 10px;
  /* width: 100%; */
  margin: 10px;
}

input[type="text"],
input[type="date"] {
  border-radius: 20px;
}
input[type="number"] {
  border-radius: 10px;
  border-color: green;
  border-width: 5px;
}

h1:hover {
  color: blue;
  background-color: lightblue;
}
p::first-letter {
  font-size: 40px;
}

input[type="checkbox"],
input[type="radio"] {
  height: 50px;
  width: 50px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  height: 100px;
  width: 100px;
  accent-color: lightgreen;
}

input:disabled {
  border-color: black;
}

div:empty {
  height: 100px;
  background-color: lightcoral;
}

div:first-child {
  background-color: lightskyblue;
}
input:first-child {
  background-color: lightskyblue;
}
